
        body {
            background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-mosaico-geometrico-de-cor-cinza-abstrato_1055-3132.jpg?w=2000);
            font-size: 20px;
        }

        img {
            border-radius: 50%;
        } 