.super-mario {
    width: 200px;
    position: absolute;    
}

.goomba {
    width: 100px;
    top: 400px;
    position: absolute;
}

.baloon {
    width: 300px;
    position: absolute;
    top: 600px;
    
}

.speech {
    font-size: 25px;
    position: absolute;
    top: 650px;
    z-index: 1;
    left: 25px;
    
}

.bowser {
    width: 200px;
    position: absolute;
    top: 780px;
    left: 290px;
}